---
layout: default
---

<div class="home">

  <h1 class="page-heading">Tips, hints and ramblings about <em>Swift</em></h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <summary>{{ post.summary }}</summary>

        <p>
          <date class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</date>
          <!--<ul class="post-meta category-list">
            {% for category in post.categories %}
              <li>{{ category }}</li>
            {% endfor %}
          </ul>-->
        </p>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
